/* 
    Created on : Aug 28, 2017, 9:23:25 AM
    Author     : fs
*/

body {
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    font-size: 0.9em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1em;
}

