/* 	lynxstudio html web template css 
	create date: 27/08/2017
*/

body {
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

header {
    
}

nav {
    
}

aside {
    float: left;
    width: 250px;
    height: auto;
}

main {
    float: right;
    width: 750px;
    display: block;
    height: auto;
}

footer {
    clear: both;
}
