/* 
    Created on : Aug 28, 2017, 8:46:05 AM
    Author     : axtros
*/

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

    :root {
        /* dev temp variables */
        --header-logo-bg-color: mediumseagreen;
        --header-user-bg-color: rosybrown;
        --nav-bg-color: appworkspace;
        --aside-bg-color: menu;
        --main-bg-color: thistle;
        --footer-bg-color: activecaption;
        
        /* variables */
        --left-side-width: 20%;
        --content-side-width: 80%;
    }
    
    body {
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    header {
        
    }
    
    #header-logo-div {
        background-color: var(--header-logo-bg-color);
        float: left;
        width: var(--left-side-width);
    }
    
    #header-user-div {
        background-color: var(--header-user-bg-color);
        float: right;
        width: var(--content-side-width);
    }

    nav {
        background-color: var(--nav-bg-color);
    }

    aside {
        background-color: var(--aside-bg-color);
        float: left;
        width: var(--left-side-width);
        height: auto;
    }

    main {
        background-color: var(--main-bg-color);
        float: right;
        width: var(--content-side-width);
        display: block;
        height: auto;
    }

    footer {
        background-color: var(--footer-bg-color);
        clear: both;
    }
    
}