/* 
    Created on : Aug 28, 2017, 8:46:05 AM
    Author     : axtros
*/

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

    body {
        font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;
        line-height: 20px;
    }

    header {
        
    }

    nav {
        
    }

    aside {
        float: left;
        width: 250px;
        height: auto;
    }

    main {
        float: right;
        width: 750px;
        display: block;
        height: auto;
    }

    footer {
        clear: both;
    }    
    
}