/* 
    Created on : Aug 28, 2017, 9:08:29 AM
    Author     : fs
*/

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
 
    body {
        
    }

    header {
        
    }

    nav {

    }

    aside {
        float: left;
        width: 250px;
        height: auto;
    }

    main {
        float: right;
        width: 750px;
        display: block;
        height: auto;
    }

    footer {
        clear: both;
    }
  
}