/* 
    Created on : Aug 28, 2017, 8:46:05 AM
    Author     : axtros
*/

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

/*@media (min-width: 1281px) {*/
@media (min-width: 1024px) {

    :root {        
        /* variables */
        --body-width-g: 1000px;        
        --left-side-width-g: 25%;               /* oldalmenük lehetséges hosszai (karakter): főmenü 28, almenü-1: 26, almenü-2: 23 */
        --content-side-width-g: 75%;
/*        --left-side-width-g: 20%;
        --content-side-width-g: 80%;*/
        --header-height-g: 4em;
        
        --header-logo-bg-color: #51d2b7;
        --header-user-bg-color: #ffffff;
        --nav-bg-color: #f7f7f7;
        --aside-bg-color: #2a2d33;              /* oldal menü háttérszine */
        --side-menu-text-color: #898c95;        /* R:137 G:140 B:149 + ez az oldalsó menű ikonjainak az alapszine is, + megnyitva fehér #ffffff */
        --main-bg-color: #ffffff;               /* a main content alap háttérszine */
        --footer-bg-color: #ededed;             /* lábléc háttérszine */
    }
    
    body {
        width: var(--body-width-g);
        margin-left: auto;
        margin-right: auto;        
    }

    .body-base-wrapper {
        background-color: var(--aside-bg-color);
    }
    
    header {
        height: var(--header-height-g);
    }
    
    #header-logo-div {
        background-color: white; /*var(--header-logo-bg-color);*/
        float: left;
        width: var(--left-side-width-g);
        min-height: var(--header-height-g);        
    }        
    
    #header-logo-div img {
        width: 13em;
        height: 3em;
        padding: 0.5em 0 0 0.4em;
    }        
    
    #header-right-div {
        background-color: var(--header-user-bg-color);
        float: right;
        width: var(--content-side-width-g);
        min-height: var(--header-height-g);        
    }

    #header-user-datas-div {
        background-color: #ffffff;        
        height: calc(var(--header-height-g) - 1.1em);
        margin: 0.5em 1em 0.5em 1em;
    }
    
    #header-user-profile-div {
        float: right;        
    }
    
    #header-user-message-div {        
        float: left;
        margin: 0.5em 1em 0em 0em;
    }    
    
    #header-user-message-div img {
        width: 1.8em;
        height: 1.8em;        
    }
    
    #header-message-number-notification-div {
        position: absolute;        
        background-color: red;
        width: 1.4em;
        height: 1.3em;
        color: white;        
        font-size: 0.8em;
        border-top-left-radius: 50% 50%;
        border-top-right-radius: 50% 50%;
        border-bottom-right-radius: 50% 50%;
        border-bottom-left-radius: 50% 50%;
        text-align: center;
        vertical-align: middle;
    }
    
    #header-user-name-div {        
        float: left;
        margin: 0.5em 1em 0em 0em;
        font-weight: bold;        
        color: #000000;
    }
    
    #header-user-status-div {
        text-align: right;
        font-weight: normal;
        font-size: 0.8em;
        color: #15b4ef;        
    }
    
    #header-user-pic-div {        
        float: right;
        margin: 0em 0em 0em 0em;
    }
    
    #header-user-pic-div img {
        width: 3em;
        height: 3em;
        border-top-left-radius: 50% 50%;
        border-top-right-radius: 50% 50%;
        border-bottom-right-radius: 50% 50%;
        border-bottom-left-radius: 50% 50%;
    }        
    
    nav {
        display: none;  /* ha kell, akkor itt jelenítsd meg, és adj hozzá css-t */
        height: 30px;
        background-color: var(--aside-bg-color);
        color: var(--side-menu-text-color);
        /*border-bottom: 1px solid #e4e4e4;*/
    }

    #center-content-div {
        background-color: var(--aside-bg-color);
        /*overflow: auto;*/         /* ezzel bejön egy belső scroll, ami nem kell */
    }
    
    aside {
        background-color: var(--aside-bg-color);
        float: left;
        width: var(--left-side-width-g);
        height: auto;        
    }    
    
    .side-menu-block {
        padding: 1em 0 1em 0;        
    }
    
    .side-menu-block-title {        
        border-bottom: 1px solid var(--side-menu-text-color);        
        padding: 0 0 0.5em 1em;        
        color: var(--side-menu-text-color);
        font-weight: bold;
        font-size: 0.8em;
    }
    
    .side-menu-block-items {
        font-size: 0.9em;
        font-weight: bold;
    }
    
    .side-menu-block-items ul {
        list-style-type: none;
        padding: 0.5em 0 0 0;
    }
    
    .side-menu-block-items ul li {
        clear: both;
    }
    
    .side-menu-block-items ul li a {
        color: var(--side-menu-text-color);        
        text-decoration: none;
    }                
        
    .side-menu-item-wrapper-div {
        height: 1.5em;
        padding: 0.1em 0 0.1em 0;        
    }
    
    .side-menu-block-items ul li a .side-menu-item-wrapper-div:hover {
        background-color: #656c7e;
        color: white;
    }        
    
    .side-menu-item-icon {
        float: left;
    }
    
    .side-menu-item-icon img {
        width: 1.2em;
        height: 1.2em;
        padding: 0.1em 0 0 1em;
    }
    
    .side-menu-item-title {
        padding: 0.2em 0 0 0.5em;
        float: left;
    }
    
    .side-menu-item-submenu-wrapper-div {        
        padding: 0em;
        display: none;
    }
    
    .side-menu-item-submenu-wrapper-div ul {
        padding: 0em;
    }            
    
    .side-menu-item-submenu-item-wrapper-div {
        /*height: 1.4em;*/
        height: 1.5em;
        padding: 0.1em 0 0.1em 0;
    }
    
    .side-menu-item-submenu-item-wrapper-div:hover {
        background-color: #656c7e;
        color: white;
    }
    
    .side-menu-item-submenu-icon {
        float: left;
    }
    
    .side-menu-item-submenu-icon img {
        width: 1.1em;
        height: 1.1em;
        padding: 0.1em 0 0 2.3em;
    }
    
    .side-menu-item-submenu-title {
        float: left;
        padding: 0.2em 0 0 0.5em;
        font-size: 1em;
        font-weight: bold;
    }
    
    /* fontos, ezt hozzá kell adni a második szintű oldalós almenü style-hoz!!! */
    .side-menu-item-submenu-2-icon img {    
        padding: 0.1em 0 0 4em;
    }    
    
    main {
        background-color: var(--main-bg-color);
        float: right;
        width: var(--content-side-width-g);
        display: block;
        height: auto;        
    }

    .content-block-div {
        border-top: 1px solid #ededed;
    }
    
    .block-title-div {        
        background-color: #f7f7f7;
        padding: 0.5em;
        min-height: 2em;
    }
    
    .block-title-div:hover {        
        cursor: pointer;
    }
    
    .block-openclose-icon-div img {
        float: left;
        width: 1.3em;
        height: 1.3em;
        padding: 0.4em 0 0 0;
    }
    
    .block-title-text-div {
        padding: 0.4em 0 0 1.4em;
        font-size: 1.2em;
        font-weight: bold;
    }
    
    .block-content-div {
        background-color: #ffffff;
        /*padding: 0.5em;*/
    }
    
    .block-content-header {
        padding: 0.5em;
        background-color: #ededed;
        min-height: 2em;
    }
    
    block-content-header label {
        margin: 0.2em 0 0 0;
    }
    
    .block-content-main {
        padding: 0.5em;
        background-color: #ffffff;
        font-size: 0.9em;
    }
    
    .block-content-footer {
        padding: 0.5em;
        background-color: #ededed;
        min-height: 2em;
    }
    
    .form-description-text {
        padding: 0.5em 0 0 0;
        font-size: 0.8em;
        font-weight: bold;
    }        
    
    .form-button {
        display: block;        
        width: 8em;
        height: 2.5em;
        margin: 0 0 0 0.4em;
        border-style: none;
        color: white;
        font-weight: bold;
        font-size: 0.8em;
        cursor: pointer;
        border-radius: 0.4em;
        outline: none;
    }
    
    .form-header-button {
        float: right;
    }
    
    .form-footer-button {
        float: left;
    }
    
    .form-center-button {
        margin: 0 auto;
    }
    
    .form-blue-button {
        background: linear-gradient(#9dc3f4, #3e78b7);
        border: 1px solid #7692b7;
        color: #2e64a0;
    }
    
    .form-blue-button:hover {
        background: linear-gradient(#3e78b7, #9dc3f4);
        color: white;
    }
    
    .form-tblue-button {
        background: linear-gradient(#acdaf4, #6da1b9);
        border: 1px solid #6697a8;
        color: #296985;
    }            
    
    .form-tblue-button:hover {        
        background: linear-gradient(#6da1b9, #acdaf4);
        color: white;
    }
    
    .form-orange-button {
        background: linear-gradient(#f6c88c, #f79b36);
        border: 1px solid #c28a3f;
        color: #b16e17;
    }
    
    .form-orange-button:hover {        
        background: linear-gradient(#f79b36, #f6c88c);
        color: white;
    }
    
    .form-green-button {
        background: linear-gradient(#b1ecaa, #73d56e);
        border: 1px solid #4f945b;
        color: #257421;
    }
    
    .form-green-button:hover {        
        background: linear-gradient(#73d56e, #b1ecaa);
        color: black;
    }
    
    .form-yellow-button {
        background: linear-gradient(#f7f2ae, #e9df70);
        border: 1px solid #b0ad5e;
        color: #ae9e2d;
    }
    
    .form-yellow-button:hover {        
        background: linear-gradient(#e9df70, #f7f2ae);
        color: black;
    }
    
    .form-red-button {
        background: linear-gradient(#f7948f, #d14745);
        border: 1px solid #9c4041;
        color: #a9161c;
    }
    
    .form-red-button:hover {        
        background: linear-gradient(#d14745, #f7948f);
        color: white;
    }
    
    .form-black-button {
        background: linear-gradient(#424242, #343434);
        border: 1px solid #141414;
        color: #fafafa;
    }
    
    .form-black-button:hover {        
        background: linear-gradient(#343434, #424242);
        color: black;
    }
    
    .form-grey-button {        
        background: linear-gradient(#e2e2e2, #b4b4b4);
        border: 1px solid #9a9a9a;
        color: #666666;
    }
    
    .form-grey-button:hover {        
        background: linear-gradient(#b4b4b4, #e2e2e2);        
        color: white;
    }
    
    .form-grey-1-button {        
        background: linear-gradient(#f3f4f8, #dae1e9);
        border: 1px solid #acafb4;
        color: #4b5056;
    }
    
    .form-grey-1-button:hover {        
        background: linear-gradient(#dae1e9, #f3f4f8);
        color: white;
    }
    
    .form-grey-2-button {        
        background: linear-gradient(#cdd0d7, #a6aab6);
        border: 1px solid #82828a;
        color: #686c78;
    }
    
    .form-grey-2-button:hover {        
        background: linear-gradient(#a6aab6, #cdd0d7);
        color: white;
    }
    
    .form-grey-3-button {        
        background: linear-gradient(#888a96, #61687a);
        border: 1px solid #54575e;
        color: #f6f9fe;
    }
    
    .form-grey-3-button:hover {        
        background: linear-gradient(#61687a, #888a96);
        color: black;
    }
    
    .form-grey-4-button {        
        background: linear-gradient(#64697c, #383e4c);
        border: 1px solid #353743;
        color: #f2f2fa;
    }
    
    .form-grey-4-button:hover {        
        background: linear-gradient(#383e4c, #64697c);
        color: black;
    }
    
    footer {
        background-color: var(--footer-bg-color);
        border-bottom: 1px solid #ededed;
        clear: both;
        color: #2a2d33;
        height: 2em;
    }
    
    #footer-copyright-div {
        float: right;
        font-size: 0.8em;
        padding: 0.8em 1em 0 0;
    }
    
    .disabled-background-html-base {
        position: fixed;
        display: none;
        top: 0;
        left: 0;
        background: #000000;
        opacity: 0.4;
        z-index: 998;
        height: 100%;
        width: 100%;
    }
    
    .dialog-modal-draggable {
        display: none;
        position: fixed;
        z-index: 1000;        
        background-color: #ffffff;
        border-radius: 10px;
    }
    
    .dialog-modal-draggable-header-wrapper {
        display: block;
        width: 100%;
        height: 30px;        
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    
    .dialog-modal-draggable-header-wrapper label {
        float: left;
        color : #ffffff;
        font-weight: bold;
        font-size: 1.2em;
        padding: 0.4em 0 0 0.6em;
    }
    
    .dialog-modal-draggable-header-wrapper img {
        float: right;
        width: 1.3em;
        height: 1.3em;
        padding: 0.4em 0.5em 0 0;
    }
    
    .dialog-modal-draggable-header-wrapper img:hover {
        cursor: pointer;
    }
    
    .dialog-modal-draggable-content-wrapper {
        display: block;        
        height: auto;
        padding: 1em;
        font-size: 0.8em;
        text-align: justify;
    }
    
    .dialog-modal-draggable-button-wrapper {
        display: block;
        padding: 0 1em 1em 1em;
    }
    
}