/* 
    Created on : Aug 28, 2017, 8:46:05 AM
    Author     : axtros
*/

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

/*@media (min-width: 1281px) {*/
@media (min-width: 1024px) {

    :root {        
        /* variables */
        --body-width-g: 1000px;        
        --left-side-width-g: 25%;               /* oldalmenük lehetséges hosszai (karakter): főmenü 28, almenü-1: 26, almenü-2: 23 */
        --content-side-width-g: 75%;
/*        --left-side-width-g: 20%;
        --content-side-width-g: 80%;*/
        --header-height-g: 4em;
        
        --header-logo-bg-color: #51d2b7;
        --header-user-bg-color: #ffffff;
        --nav-bg-color: #f7f7f7;
        --aside-bg-color: #2a2d33;
        --main-bg-color: #ffffff;
        --footer-bg-color: #ededed;
        --side-menu-text-color: #898c95;        //#aeaeb0;
        --side-menu-item-color: #898c95;        //R:137 G:140 B:149     -> ezek az oldalsó menű ikonjainak alapszine, + megnyitva fehér #ffffff
    }
    
    body {
        width: var(--body-width-g);
        margin-left: auto;
        margin-right: auto;        
    }

    .body-base-wrapper {
        background-color: var(--aside-bg-color);
    }
    
    header {
        height: var(--header-height-g);
    }
    
    #header-logo-div {
        background-color: white; /*var(--header-logo-bg-color);*/
        float: left;
        width: var(--left-side-width-g);
        min-height: var(--header-height-g);        
    }        
    
    #header-logo-div img {
        width: 13em;
        height: 3em;
        padding: 0.5em 0 0 0.4em;
    }        
    
    #header-right-div {
        background-color: var(--header-user-bg-color);
        float: right;
        width: var(--content-side-width-g);
        min-height: var(--header-height-g);        
    }

    #header-user-datas-div {
        background-color: #ffffff;        
        height: calc(var(--header-height-g) - 1.1em);
        margin: 0.5em 1em 0.5em 1em;
    }
    
    #header-user-profile-div {
        float: right;        
    }
    
    #header-user-message-div {        
        float: left;
        margin: 0.5em 1em 0em 0em;
    }    
    
    #header-user-message-div img {
        width: 1.8em;
        height: 1.8em;        
    }
    
    #header-message-number-notification-div {
        position: absolute;        
        background-color: red;
        width: 1.4em;
        height: 1.3em;
        color: white;        
        font-size: 0.8em;
        border-top-left-radius: 50% 50%;
        border-top-right-radius: 50% 50%;
        border-bottom-right-radius: 50% 50%;
        border-bottom-left-radius: 50% 50%;
        text-align: center;
        vertical-align: middle;
    }
    
    #header-user-name-div {        
        float: left;
        margin: 0.5em 1em 0em 0em;
        font-weight: bold;        
        color: #000000;
    }
    
    #header-user-status-div {
        text-align: right;
        font-weight: normal;
        font-size: 0.8em;
        color: #15b4ef;        
    }
    
    #header-user-pic-div {        
        float: right;
        margin: 0em 0em 0em 0em;
    }
    
    #header-user-pic-div img {
        width: 3em;
        height: 3em;
        border-top-left-radius: 50% 50%;
        border-top-right-radius: 50% 50%;
        border-bottom-right-radius: 50% 50%;
        border-bottom-left-radius: 50% 50%;
    }        
    
    nav {
        background-color: var(--nav-bg-color);
        border-bottom: 1px solid #e4e4e4;
        display: none;  /* ha kell, akkor itt jelenítsd meg, és adj hozzá css-t */
    }

    #center-content-div {
        background-color: var(--aside-bg-color);
        /*overflow: auto;*/         /* ezzel bejön egy belső scroll, ami nem kell */
    }
    
    aside {
        background-color: var(--aside-bg-color);
        float: left;
        width: var(--left-side-width-g);
        height: auto;        
    }    
    
    .side-menu-block {
        padding: 1em 0 1em 0;        
    }
    
    .side-menu-block-title {
        border-bottom: 1px solid #7f8083;
        padding: 0 0 0.5em 1em;
        color: #7f8083;
        font-weight: bold;
        font-size: 0.8em;
    }
    
    .side-menu-block-items {
        font-size: 0.9em;
        font-weight: bold;
    }
    
    .side-menu-block-items ul {
        list-style-type: none;
        padding: 0.5em 0 0 0;
    }
    
    .side-menu-block-items ul li {
        clear: both;
    }
    
    .side-menu-block-items ul li a {
        color: var(--side-menu-text-color);        
        text-decoration: none;
    }                
        
    .side-menu-item-wrapper-div {
        height: 1.5em;
        padding: 0.1em 0 0.1em 0;        
    }
    
    .side-menu-block-items ul li a .side-menu-item-wrapper-div:hover {
        background-color: #656c7e;
        color: white;
    }        
    
    .side-menu-item-icon {
        float: left;
    }
    
    .side-menu-item-icon img {
        width: 1.2em;
        height: 1.2em;
        padding: 0.1em 0 0 1em;
    }
    
    .side-menu-item-title {
        padding: 0.2em 0 0 0.5em;
        float: left;
    }
    
    .side-menu-item-submenu-wrapper-div {        
        padding: 0em;
        display: none;
    }
    
    .side-menu-item-submenu-wrapper-div ul {
        padding: 0em;
    }            
    
    .side-menu-item-submenu-item-wrapper-div {
        /*height: 1.4em;*/
        height: 1.5em;
        padding: 0.1em 0 0.1em 0;
    }
    
    .side-menu-item-submenu-item-wrapper-div:hover {
        background-color: #656c7e;
        color: white;
    }
    
    .side-menu-item-submenu-icon {
        float: left;
    }
    
    .side-menu-item-submenu-icon img {
        width: 1.1em;
        height: 1.1em;
        padding: 0.1em 0 0 2.3em;
    }
    
    .side-menu-item-submenu-title {
        float: left;
        padding: 0.2em 0 0 0.5em;
        font-size: 1em;
        font-weight: bold;
    }
    
    /* fontos, ezt hozzá kell adni a második szintű oldalós almenü style-hoz!!! */
    .side-menu-item-submenu-2-icon img {    
        padding: 0.1em 0 0 4em;
    }    
    
    main {
        background-color: var(--main-bg-color);
        float: right;
        width: var(--content-side-width-g);
        display: block;
        height: auto;        
    }

    .content-block-div {
        border-top: 1px solid #ededed;
    }
    
    .block-title-div {        
        background-color: #f7f7f7;
        padding: 0.5em;
        min-height: 2em;
    }
    
    .block-title-div:hover {        
        cursor: pointer;
    }
    
    .block-openclose-icon-div img {
        float: left;
        width: 1.3em;
        height: 1.3em;
        padding: 0.4em 0 0 0;
    }
    
    .block-title-text-div {
        padding: 0.4em 0 0 1.4em;
        font-size: 1.2em;
        font-weight: bold;
    }
    
    .block-content-div {
        background-color: #ffffff;
        /*padding: 0.5em;*/
    }
    
    .block-content-header {
        padding: 0.5em;
        background-color: #ededed;
        min-height: 2em;
    }
    
    block-content-header label {
        margin: 0.2em 0 0 0;
    }
    
    .block-content-main {
        padding: 0.5em;
        background-color: #ffffff;
        font-size: 0.9em;
    }
    
    .block-content-footer {
        padding: 0.5em;
        background-color: #ededed;
        min-height: 2em;
    }
    
    .form-description-text {
        padding: 0.5em 0 0 0;
        font-size: 0.8em;
        font-weight: bold;
    }        
    
    .form-button {
        display: block;        
        width: 8em;
        height: 2.5em;
        margin: 0 0 0 0.4em;
        border-style: none;
        color: white;
        font-weight: bold;
        font-size: 0.8em;
        cursor: pointer;
        border-radius: 0.4em;
        outline: none;
    }
    
    .form-header-button {
        float: right;
    }
    
    .form-footer-button {
        float: left;
    }
    
    .form-blue-button {
        background-color: #4a8bf5;
    }
    
    .form-blue-button:hover {
        background-color: #3b6ec2;
    }
    
    .form-tblue-button {
        background-color: #3ab2d0;
    }
        
    .form-tblue-button {
        background-color: #3ab2d0;
    }
    
    .form-tblue-button:hover {        
        background-color: #2c879e;
    }
    
    .form-orange-button {
        background-color: #fd7037;
    }
    
    .form-orange-button:hover {        
        background-color: #c9592c;
    }
    
    .form-green-button {
        background-color: #45bf7b;
    }
    
    .form-green-button:hover {        
        background-color: #338c5a;
    }
    
    .form-yellow-button {
        background-color: #fda737;
    }
    
    .form-yellow-button:hover {        
        background-color: #c9852c;
    }
    
    footer {
        background-color: var(--footer-bg-color);
        border-bottom: 1px solid #ededed;
        clear: both;
        color: #2a2d33;
        height: 2em;
    }
    
    #footer-copyright-div {
        float: right;
        font-size: 0.8em;
        padding: 0.8em 1em 0 0;
    }
    
}