/* 
    Created on : Aug 30, 2017, 11:21:42 AM
    Author     : fs
*/

@media (min-width: 1024px) {

    :root {
        --body-width-g: 1000px;
        --header-width-g: 60px;
        --parallax-bg-image-height: 600px;
        
        --login-panel-width: 30em;
        --login-panel-height: 30em;
        --login-panel-wrapper-height: 4em;      // --login-panel-height/5
        --login-panel-wrapper-width: 24em;        
    }
    
    body {
        padding-top: var(--header-width-g);        
        /*font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
        font-family: HelveticaDLH-Medium,Arial,Helvetica,sans-serif;
        font-size: 0.9em;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        line-height: 1em;
        letter-spacing: -0.4px;
    }
    
    .container {
        max-width: var(--body-width-g);
        margin: 0 auto;
        font-family: HelveticaDLH-Light,Arial,Helvetica,sans-serif;
    }
    
    .header {        
        margin: 0 auto;
        overflow: hidden;
        position: fixed; 
        top: 0; 
        background-color: white;
        width: 100%;
        height: var(--header-width-g);
    }
    
    .header-logo-div {
        float: left;
        width: 30%;
    }
    
    .header-logo-div img {
        display: block;
        width: 14em;
        height: 2.5em;
        padding: 0.8em 0 0 0;
    }
    
    .header-menu-div {
        float: left;
        width: 70%;
    }
    
    .header-menu-wrapper-div {
        float: right;
        font-size: 0.9em;
    }
    
    .header-menu-item-div {
        float: left;
        font-weight: bold;
        height: var(--header-width-g);        
        padding: 0 0 0 0.1em;
        vertical-align: middle;
        line-height: var(--header-width-g);
    }
    
    .header-menu-item-div a {
        text-decoration: none;
        color: #2a2d33;
        padding: 0.5em;
    }    
    
    .header-menu-item-div a:hover {
        color: white;
        background-color: #2a2d33;
        padding: 0.8em 0.5em 0.8em 0.5em;
    }
    
    .login-panel-base-div {
        width: var(--login-panel-width);
        height: var(--login-panel-height);
        z-index: 100;
        background: rgba(255, 255, 255, 0.4);
        float: right;
        margin: 1em 0.6em 0 0;
    }
    
    .login-text-wrapper {
        height: 14em;        
    }
    
    .login-text-wrapper img {
        width: 6em;
        height: 8em;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .login-input-wrapper-container {
        height: var(--login-panel-wrapper-height);
    }
    
    .login-input-wrapper {
        background: rgba(255, 255, 255, 0.4);
        width: 90%;
        height: 50%;
        z-index: 110;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .login-input-icon-wrapper {        
        float: left;
        width: 3em;
        /*border-right: 1px solid black;*/
    }
    
    .login-input-icon-wrapper img {
        width: 1.5em;
        height: 1.5em;
        padding: 0.3em 0 0 0.4em;
    }
    
    .login-input-element-wrapper {
        float: left;
        width: 24em;
    }
    
    .login-input-element-wrapper input {
        width: 25em;
        height: 2em;
        background: rgba(255, 255, 255, 0);
        border: none;
        outline: none;
        padding-left: 1em;
    }
    
    .login-input-element-wrapper input:focus {
        outline: none !important;
        /*border:1px solid #2791c6;*/
        box-shadow: 0 0 10px #719ECE;
    }
    
    .login-button-wrapper {
        width: var(--login-panel-wrapper-width);
        height: var(--login-panel-wrapper-height);
        display: block;
        margin-left: auto;
        margin-right: auto;        
    }
    
    .login-extra-wrapper {
        height: var(--login-panel-wrapper-height);
    }
    
    .parallax {   
        height: var(--parallax-bg-image-height);
        background-attachment: fixed;
        background-position: top;        
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .parallax-1 {
        background-image: url("../../img/login/template/1.jpg");        
    }

    .parallax-2 {
        background-image: url("../../img/login/template/2.jpg");        
    }
    
}


